:root{
  --basic-black: #000000;
  --basic-deep-blue: #293449;
  --basic-blue: #32425C;
  --basic-gray: #888888;
  --basic-light-gray: #F1F5F7;
  --basic-ultralight-gray: rgba(0, 0, 0, 0.0001);
  --basic-milk-white: #F3F7F9;
  --basic-white: #FFFFFF;

  --basic-red: #EE3643;
  --basic-orange: #FFD180;
}

/*
header {
  background-color: #ff9;
}
main {
  background-color: #f9f;
}
footer {
  background-color: rgba(0, 0, 0, 0.0001);
}
*/

body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: var (--basic-red);
  background-color: var (--basic-gray);
}
a{
  text-decoration: none;
}
img {
  min-weight: 100%;
  height: auto;
}
/*font-family: 'PT Sans', sans-serif;*/
