:root{
  --basic-black: #000000;
  --basic-semitransparent-black: rgba(0, 0, 0, 0.25);
  --basic-transparent-black: rgba(0, 0, 0, 0.01);

  --basic-dark-gray: #A9A9A9;
  --basic-gray: #C5C5C5;
  --basic-extra-gray: #B7BFC8;
  --basic-haze-gray: #EAEAEA;
  --basic-light-gray: #F1F5F7;
  --basic-extra-light-gray:  #E5E5E5;
  --basic-super-extra-light-gray:  #f4f4f4;
  --basic-milk-white: #F3F7F9;
  --basic-lightmilk-white: #F9F5F0;
  --basic-extralightmilk-white: #F2F6F8;
  --basic-white: #FFFFFF;

  --basic-night-blue: #1D2739;
  --basic-ultradeep-blue: #212A3A;
  --basic-deep-blue: #293449;
  --basic-blue: #32425C;
  --basic-ocean-blue: #3BBCE3;

  --basic-green: #63A63E;
  --basic-light-green: #8ED78F;

  --basic-pink: #DC91D8;
  --basic-red: #EE3643;

  --basic-deep-orange: #FFBF47;
  --basic-orange: #FFC047;
  --basic-light-orange: #FFDA96;
  --basic-ultralight-orange: #FFD180;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

body{
  position: relative;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-milk-white);
}

a{
  text-decoration: none;

}
/* img {
  min-width: 100%;
  height: auto;
} */

/*



main-navigation
*/

.main-navigation {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: var(--basic-blue);
  background-color: var(--basic-light-gray);
  }

.upper-navigation-row {
  background-color: var(--basic-deep-blue);
  margin-bottom: 0;
  }

.upper-navigation-row-content {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.upper-navigation-row-content::before {
  content: "";
  position: absolute;
  left: 238px;
  top: 12px;
  z-index: 5;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.upper-navigation-row-content img {
  position: absolute;
  left: 0;
  width: 220px;
  height: 47px;
  margin-bottom: 0;
}

.upper-navigation-row a {
   display: block;
   color: var(--basic-white);
}

.search-field {
  position: absolute;
  left: 220px;
  width: 229px;
  height: 42px;
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: var(--bacic-white);
  background-color: var(--basic-deep-blue);
}

.bookmarks {
  display: block;
  position: relative;
  width: 107px;
  min-height: 33px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-left: 43px;
  font-size: 18px;
  line-height: 24px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 12px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket {
  display: block;
  position: relative;
  width: 107px;
  min-height: 33px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-left: 43px;
  font-size: 18px;
  line-height: 24px;
}

.basket::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 12px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.make-order {
  display: block;
  width: 150px;
  min-height: 33px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background-color: var(--basic-green);
}

.midle-navigation-row {
  display: flex;
  width: 940px;
  min-height: 158px;
  margin: 0 auto;
}

.left-side-midle-navigation-row {
  width: 197px;
  margin: 0;
  margin-top: 37px;
  margin-left: 30px;
  padding: 0;
  text-align: left;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.central-side-midle-navigation-row {
  width: 270px;
  margin: 0;
  margin-top: 46px;
  margin-left: 93px;
  padding: 0;
}

.central-side-midle-navigation-row .phone{
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 270px;
  height: 45px;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-left: 17px;
  font-size: 21px;
  line-height: 31px;
  color: var(--basic-red);
  border: 4px solid white;
}


.central-side-midle-navigation-row .phone::before {
  content: "";
  position: absolute;
  left: 35px;
  top: 10px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.central-side-midle-navigation-row address{
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
}

.log-in-button{
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 121px;
  min-height: 45px;
  margin-top: 46px;
  margin-left: 69px;
  margin-right: 10px;
  margin-bottom: auto;
  padding-top: 13px;
  padding-left: 20px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.log-in-button::before {
  content: "";
  position: absolute;
  left: 19px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.join-button {
  display: block;
  box-sizing: border-box;
  width: 150px;
  min-height: 45px;
  margin-top: 46px;
  margin-bottom: auto;
  padding-top: 13px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.right-side-midle-navigation-row {
  margin-left: 51px;
  margin-top: 46px;
}

.user {
  display: block;
  box-sizing: border-box;
  width: 299px;
  height: 45px;
  padding-top: 12px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white)
}

.users-menu {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin-top: 7px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.users-menu a {
  color: var(--basic-blue);
}

.header-navigation {
  display: flex;
  width: 940px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  list-style: none;
}

.header-navigation li {
  display: flex;
  flex-grow: 1;
  min-height: 44px;
  padding-top: 16px;
}

.header-navigation a {
  flex-grow: 1;
  color: inherit;
}

.header-navigation li:hover, .header-navigation li:focus {
  background-color: var(--basic-deep-blue);
}

.header-navigation li:active  {
  background-color: var(--basic-night-blue:);
}

.company-information {
  display: flex;
  width: 940px;
  margin: 70px auto;
  justify-content: space-between;
}

.about-company {
  margin: 0;
  padding: 0;
  width: 460px;
}

.about-company h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.about-company p{
  margin: 0;
  margin-top: 24px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
}

.about-company ul {
  margin: 0;
  margin-top: 5px;
  margin-left: 37px;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.about-company li {
  margin-bottom: 12px;
}

.about-company-more {
  display: block;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-top: 11px;
  width: 220px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.contacts {
  margin: 0;
  padding: 0;
}

.contacts h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.contacts p{
  width: 181px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 32px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
}

.contacts-more {
  display: block;
  box-sizing: border-box;
  margin-top: 20px;
  padding-top: 11px;
  width: 300px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.catalog-background {
  background-color: var(--basic-white);
}

.catalog-page {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  width: 940px;
  margin: 21px auto 0 auto;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  min-height: 38px;
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  margin-right: 39px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* .breadcrumbs li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background-color: #000000;
  background-image: url("img/icon-search.svg");
} */

.breadcrumbs a:nth-child(1) {
  margin-right: 55px;
}

.category-title {
  grid-column: 1 / -1;
  height: 89px;
  display: flex;
  padding-left: 29px;
  padding-top: 29px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-extralightmilk-white);
}

.filter {
  width: 220px;
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid var(--basic-extra-light-gray);
}

.filter ul {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  list-style: none;
  text-transform: uppercase;
}

.filter input {
  color: var(--basic-gray);
}

.filter legend {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter li{
  margin-top: 20px;
}

.results {
  display: flex;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-extra-light-gray);
}

.cards {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.cards ul{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card {
  position: relative;
  width: 220px;
  height: 318px;
  margin-right: 20px;
  margin-bottom: 18px;
  padding-top: 22px;
  box-sizing: border-box;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  border: 1px solid var(--basic-haze-gray);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
  margin-left: 33px;
  margin-right: 43px;
}

.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-name {
  width: 185px;
  margin-top: 23px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.price {
  font-size: 17px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: bold;
}

.old-price {
  display: block;
  width: 172px;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: line-through;
  color: var(--basic-dark-gray);
}

.new-price {
  display: block;
  box-sizing: border-box;
  width: 141px;
  height: 38px;
  margin-top: 8px;
  margin-left: 45px;
  margin-right: 34px;
  padding-top: 5px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.invisible-text {
  color: var(--basic-white);
}

.new {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 7px;
  right: -28px;
  width: 100px;
  height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  border-left: 30px solid transparent;
  border-right:  30px solid transparent;
  border-bottom:  30px solid var(--basic-red);
  transform: rotate(45deg);
}

.new-label {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 7px;
  right: -28px;
  width: 100px;
  height: 30px;
  border-left: 30px solid transparent;
  border-right:  30px solid transparent;
  border-bottom:  30px solid var(--basic-red);
  transform: rotate(45deg);
}

.new-text {
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.action {
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
}

.to-basket {
  margin-top: 13px;
  padding-left: 17px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  border-radius: 2px;
  border: 2px solid var(--basic-green);
}

.to-bookmarks {
  margin-top: 10px;
  margin-bottom: 34px;
  color: var(--basic-blue);
  border: 2px solid var(--basic-green);
}

/*



footer*/

footer {
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  list-style: none;
}

footer ul {
  list-style: none;
}

footer a {
  color: var(--basic-white);
}

.footer-main-background {
  min-height: 193px;
}

.footer-main {
  font-size: 18px;
  line-height: 24px;
  width: 940px;
  margin: 0 auto;
}

.footer-main-upper-row {
  display: flex;
  justify-content: space-between;
}

.footer-main-navigation {
  display: flex;
  width: 546px;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-main-navigation a{
  text-align: center;
}

/* цвет не меняется при клике, но добавляется прозрачность 0,5, видимо, к блоку
.footer-main-nav a:active{
  text-align: center;
  color: var(--basic-light-gray);
}
*/

.footer-main-bottom-row {
  display: flex;
  justify-content: space-between;
}

.left-part-footer-main-bottom-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.left-part-footer-main-bottom-row address{
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
}

.footer-extra-navigation {
  display: flex;
  width: 524px;
  justify-content: space-between;
}

.footer-extra-navigation address {
  font-style: normal;
}

.footer-extra-navigation a{
  text-align: center;
  color: var(--basic-ultralight-orange);
}

/* цвет не меняется при клике, но добавляется прозрачность 0,5, видимо, к блоку
.footer-extra-nav a:active{
  text-align: center;
  color: var(--basic-light-gray);
}
*/

.footer-main a:hover, .footer-main a:focus {
  text-decoration: underline;
}

.footer-other-background {
  background-color: var(--basic-deep-blue);
}

.footer-other {
  font-size: 16px;
  line-height: 18px;
  width: 940px;
  min-height: 107px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-other p {
  display: block;
  width: 227px;
}

.social-networks {
  list-style: none;
  width: 138px;
  margin-left: auto;
  margin-right: 118px;
  display: flex;
  justify-content: space-between;
}

.social-networks li {
  background-color: var(--basic-ultradeep-blue);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback {
  width: 137px;
  margin-right: 51px;
}

.copyright {
  width: 98px;
  margin-right: 14px;
}

.footer-other a {
  color: var(--basic-ultralight-orange);
}

.modal-map {
  display: none;
  position: absolute;
  left: calc(50% - 471px);
  bottom: 324px;
  margin: auto;
  padding: 0;
  width: 943px;
  box-shadow: 0px 4px 20px rgba(9, 0, 0, 0.15);

}

.modal-map img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

.modal-map::before {
  position: absolute;
  top: 0px;
  content: "";
  width: 943px;
  height: 7px;
  background-color: var(--basic-red);
}

.modal-close {
  position: absolute;

  /* top: 16px;
  right: 19px; */
  /* width: 21px;
  height: 21px; */
  /* background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;*/

  border: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 19px;
  width: 28px;
  height: 4px;
  border-radius: 1px;
  background-color: var(--basic-red);
}


.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-write-us {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: auto;
  top: auto;
  bottom: 351px;
  width: 620px;
  padding: 41px 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-top: 7px solid var(--basic-red);
}

.modal-write-us p {
  margin: 0;
}

.modal-write-us input {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-dark-gray);
  border: 2px solid var(--basic-gray);
  box-sizing: border-box;
  border-radius: 2px;
}

.name-field-block {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
}

.name-field-block label {
  margin-bottom: 11px;
}

.name-field {
  box-sizing: border-box;
  width: 220px;
  min-height: 38px;
  padding: 7px 8px 7px 12px;
}

.e-mail-field-block {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
}

.e-mail-field-block label {
  margin-bottom: 11px;
}

.e-mail-field {
  box-sizing: border-box;
  width: 220px;
  min-height: 38px;
  padding: 7px 8px 7px 12px;
}

.message-field-block {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
}

.message-field-block label {
  margin-top: 13px;
  margin-bottom: 11px;
}

.message-field {
  box-sizing: border-box;
  width: 460px;
  min-height: 114px;
  padding: 7px 8px auto 12px;
}


.background-bottom-part {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 620px;
  height: 112px;
  background-color: var(--basic-super-extra-light-gray);
  z-index: 1;
}

.modal-write-us .send-form {
  width: 460px;
  min-height: 38px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

.login-modal-close {
  top: 7px;
  right: -12px;
}
