:root{
  --basic-black: #000000;
  --basic-semitransparent-black: rgba(0, 0, 0, 0.25);
  --basic-transparent-black: rgba(0, 0, 0, 0.01);



  --basic-dark-gray: #A9A9A9;
  --basic-gray: #C5C5C5;
  --basic-extra-gray: #B7BFC8;
  --basic-haze-gray: #EAEAEA;
  --basic-light-gray: #F1F5F7;
  --basic-milk-white: #F3F7F9;
  --basic-lightmilk-white: #F9F5F0;
  --basic-extralightmilk-white: #F2F6F8;
  --basic-white: #FFFFFF;

  --basic-night-blue: #1D2739;
  --basic-ultradeep-blue: #212A3A;
  --basic-deep-blue: #293449;
  --basic-blue: #32425C;
  --basic-ocean-blue: #3BBCE3;

  --basic-green: #63A63E;
  --basic-light-green: #8ED78F;

  --basic-pink: #DC91D8;
  --basic-red: #EE3643;

  --basic-deep-orange: #FFBF47;
  --basic-orange: #FFC047;
  --basic-light-orange: #FFDA96;
  --basic-ultralight-orange: #FFD180;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);

}
a{
  text-decoration: none;

}
img {
  min-weight: 100%;
  height: auto;
}


/* main-navigation */

.main-navigation {
  font-size: 14px;
  line-height: 28px;
  color: var(--basic-blue);
  background-color: var(--basic-transparent-black);
  text-align: center;
}
.upper-nav-row {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-deep-blue);
}

.header-nav {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.header-nav a, .upper-nav-row a {
    color: var(--basic-white);
}

.header-nav a:hover, .header-nav a:focus {
  background-color: var(--basic-deep-blue);
  border: none;
}

.header-nav a:active  {
  background-color: var(--basic-night-blue:);
}

.header-nav a:hover, .header-nav a:focus {
    background-color: var(--basic-deep-blue);
}

.main-navigation h2 {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  text-align: left;
}


.header-nav {
  list-style: none;
}

.main-navigation .tel{
  font-size: 21px;
  line-height: 31px;
  color: var(--basic-red);
  width: 270px;
  height: 45px;
  border: 2px solid white;
}

.main-navigation .button{
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: : var(--basic-white);
  border: none;
}




.user {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: : var(--basic-white);
  width: 299px;
  height: 45px;
}

.users-cabs {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.about-co h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.about-co p{
  font-family: "PT Sans";
}

.about-co ul {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.about-co-more {
  width: 220px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  tetx-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p{
  font-family: "PT Sans";
}

.contacts-more {
  width: 300px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.catalog-page {
  background-color: var(--basic-white);
}

.crumbs {
  list-style: none;
}

.crumbs a {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.category-name {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-extralightmilk-white);
}

.filter {
  width: 220px;
  border: none;
}

.filter ul {
  list-style: none;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter input {
  color: var(--basic-gray);
}


.filter legend {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.results {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: var(--basic-white);
}

.cards ul{
  list-style: none;
}

.product-card {
  width: 220px;
  height: 318px;
  text-align: center;
  font-family: "PT Sans";
  border: 1px solid var(--basic-haze-gray);

}
.product-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black)
}

.price {
  font-size: 17px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: var(--basic-dark-gray);
}

.new-price {
  width: 220px;
  height: 318px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/*
 .product-card a:hover, .product-card a:focus {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
*/

.new {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  display: flex;
  text-align: center;

  width: 70px;
  height: 70px;
  transform: rotate(45deg);

}

.action {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 141px;
  height: 38px;
  border-radius: 2px;
}

.to-basket {
  color: var(--basic-white);
  background-color: var(--basic-green);
  border-radius: 2px;
  border: 2px solid var(--basic-green);

}

.to-bookmarks {
  color: var(--basic-blue);
  border: 2px solid var(--basic-green);
}




/*footer*/

footer {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    list-style: none;
}

footer ul {
  list-style: none;
}

footer a {
    color: var(--basic-white);
}

.footer-main {
  font-size: 18px;
  line-height: 24px;

}
.footer-main-nav a{
  text-align: center;
}

/* цвет не меняется при клике, но добавляется прозрачность 0,5, видимо, к блоку
.footer-main-nav a:active{
  text-align: center;
  color: var(--basic-light-gray);
}
*/

.footer-extra-nav a{
  text-align: center;
  color: var(--basic-ultralight-orange);
}

/* цвет не меняется при клике, но добавляется прозрачность 0,5, видимо, к блоку
.footer-extra-nav a:active{
  text-align: center;
  color: var(--basic-light-gray);
}
*/

.footer-main a:hover, .footer-main a:focus {
    text-decoration: underline;
}

.footer-other {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-deep-blue);
}
.footer-other ul {
  list-style: none;
}
.footer-other a {
  color: var(--basic-ultralight-orange);
}
*/
